/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */

$color1:      		#303135;
$color2:  	        #A23C3C;
$color3:      		#485B89;
$color4:  	        #BFC0C0;
$color5:      		#efefef;
$color-hover:       #485B89;
$color-active:      #485B89;

$color-p:           #272727;
$text-gray:         #a4a3a6;
$white:             #ffffff;
$gray:              #eff1f3;
$black:             #000000;
$inline-quote:      #A23C3C;

/* Spacing / Padding */

$padding-top:       90px;
$padding-left:      136px;
$padding-right:     136px;
$padding-bottom:    90px;
$padding:           90px 136px;

$heading-space:     30px;

$transition: 0.14s ease-in-out;
